<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>foris-io</title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/stylesheets/custom.min.css" rel="stylesheet">

  <!-- Importing content of Angular -->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Do not include the below bootstrap library -->
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

  <!--Begin Validation-->
  <script>
      var app = angular.module("forisApp", []);
      app.controller("humidityCtrl", ['$scope', '$http', '$window', function( $scope,$http,$window) {
          $http({
              method: 'GET',
              url: '/checklogin'
          }).then(function (response) {
              if (response.data.status === 300) {
                  $window.location.href = '/login';
              }
              else if(response.data.status === 200)
              {
                  $http({
                      method: 'GET',
                      url: '/profileusername'
                  }).
                  then(function(response)
                  {
                      $scope.loginusername = angular.fromJson(response.data.result);

                  });
              }

          });

          // logout session
          $scope.logoutsession= function ()
          {
              $http({
                  method: 'GET',
                  url: '/logoutsession'
              }).
              then(function(response)
              {
                  if(response.data.status===300)
                  {
                      console.log("destroy session");
                  }else
                  {
                      $window.location.href='/';
                  }
              });
          }


      }]);

  </script>
  <!--End Validation -->


</head>

<body class="nav-md">
<div class="container body" ng-app="forisApp" ng-controller="humidityCtrl">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="/home" class="site_title"><span><img src="/images/forisLogo.png" alt="Logo" height="42" width="150"align="middle" style="margin:0px 28px">
              </span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
          <div class="profile_pic">
            <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>{{loginusername.fname}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>{{loginusername.device_id}}</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/home">Dashboard</a></li>
                  <li><a href="/livedata">Live Data</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-table"></i> Sensors <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/water">Water Consumption</a></li>
                  <li><a href="/moisture">Moisture</a></li>
                  <li><a href="/temperature">Temperature</a></li>
                  <li><a href="/humidity">Humidity</a></li>
                  <li><a href="/pH">pH</a></li>
                  <li><a href="/salinity">Salinity</a></li>
                </ul>
              </li>
              <li><a href="/sensortopology"><i class="fa fa-globe"></i> Sensor Topology</a>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="/images/img.jpg" alt="">{{loginusername.fname}}
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="javascript:;"> Profile</a></li>
                <li>
                  <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li><a href="javascript:;">Help</a></li>
                <li><a type="submit" ng-click="logoutsession()" role="button"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <!--<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">-->
              <!--<i class="fa fa-envelope-o"></i>-->
              <!--<span class="badge bg-green"></span>-->
              <!--</a>-->
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li>
                  <a>
                    <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a>
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><%= title%> <small>Real Time Data Obtained</small></h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="chartContainer" style="height: 400px; width: 100%;"></div>
        </div>

        <div class="clearfix"></div>
        <br><br>


      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          <a href="http://www.foris.io">foris.io</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/vendors/nprogress/nprogress.js"></script>
  <!-- iCheck -->
  <script src="/vendors/iCheck/icheck.min.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/javascripts/custom.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <!--Sensor chart start-->
  <script>

    function updateChart(series,parameter)
    {
        $.getJSON('/sensordata', function (data) {

                var d2 = data[data.length - 1];
                var val = d2[parameter];  //Sensor value

                var x = (new Date()).getTime(), // current time
                    y = val;
                series.addPoint([x, y], true, true);

                return series;


        });



    }





//      function update() {
          $.getJSON('/sensordata', function (data) {

              Highcharts.setOptions({
                  global: {
                      useUTC: false
                  }
              });

              Highcharts.chart('chartContainer', {
                  chart: {
                      type: 'spline',
                      animation: Highcharts.svg, // don't animate in old IE
                      marginRight: 10,
                      events: {
                          load: function () {

                              // set up the updating of the chart each second
                              var series = this.series[0];
                              setInterval(function () {
                                  var x = (new Date()).getTime(), // current time
                                      y = Math.random() + Math.random();
                                  series.addPoint([x, y], true, true);
                              }, 1000);

                              var series1 = this.series[1];
                              setInterval(function () {
                                  var x = (new Date()).getTime(), // current time
                                      y = Math.random() + Math.random();// + 1;
                                  series1.addPoint([x, y], true, true);
                              }, 1000);

                              var series2 = this.series[2];
                              setInterval(function () {
                                  var x = (new Date()).getTime(), // current time
                                      y = Math.random() + Math.random();// + 2;
                                  series2.addPoint([x, y], true, true);
                              }, 1000);

                              var series3 = this.series[3];
                              setInterval(function () {
                                  var x = (new Date()).getTime(), // current time
                                      y = Math.random() + Math.random();// +  3;
                                  series3.addPoint([x, y], true, true);
                              }, 1000);
                          }
                      }
                  },
                  title: {
                      text: 'Live Sensor Data'
                  },
                  xAxis: {
                      type: 'datetime',
                      tickPixelInterval: 150
                  },
                  yAxis: {
                      title: {
                          text: 'Value'
                      },
                      plotLines: [{
                          value: 0,
                          width: 1,
                          color: '#808080'
                      }]
                  },
                  tooltip: {
                      formatter: function () {
                          return '<b>' + this.series.name + '</b><br/>' +
                              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                              Highcharts.numberFormat(this.y, 2);
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  exporting: {
                      enabled: false
                  },
                  series: [{
                      name: 'Random data',
                      data: (function () {
                          // generate an array of random data
                          var data = [],
                              time = (new Date()).getTime(),
                              i;

                          for (i = -19; i <= 0; i += 1) {
                              data.push({
                                  x: time + i * 5000,
                                  y: Math.random()
                              });
                          }
                          return data;
                      }())
                  }, {
                      name: 'Random data',
                      data: (function () {
                          // generate an array of random data
                          var data = [],
                              time = (new Date()).getTime(),
                              i;

                          for (i = -19; i <= 0; i += 1) {
                              data.push({
                                  x: time + i * 5000,
                                  y: Math.random() + 1
                              });
                          }
                          return data;
                      }())
                  },
                      {
                          name: 'Random data',
                          data: (function () {
                              // generate an array of random data
                              var data = [],
                                  time = (new Date()).getTime(),
                                  i;

                              for (i = -19; i <= 0; i += 1) {
                                  data.push({
                                      x: time + i * 5000,
                                      y: Math.random() + 2
                                  });
                              }
                              return data;
                          }())
                      },
                      {
                          name: 'Random data',
                          data: (function () {
                              // generate an array of random data
                              var data = [],
                                  time = (new Date()).getTime(),
                                  i;

                              for (i = -19; i <= 0; i += 1) {
                                  data.push({
                                      x: time + i * 5000,
                                      y: Math.random() + 3
                                  });
                              }
                              return data;
                          }())
                      }]
              });

          });
//      }
//      setInterval(update, 3000);
//      update();

  </script>

  <!--Sensor chart end-->
</div>
</body>
</html>
