<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Importing content of Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script>
        var app = angular.module("forisApp", []);
        //$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
        app.controller("resetCtrl", ['$scope', '$http', '$window', function( $scope,$http,$window) {


            $http({
                method: 'GET',
                url: '/checklogin'
            }).then(function (response) {
                if (response.data.status === 200) {
                    $window.location.href = '/';
                }

            });

            $scope.reset = function () {
                var username     = $scope.username;
                var password1 = $scope.pwd1;
                var password2 = $scope.pwd2;

                if (username == null || username == "") {
                    alert("Email field Cannot be Empty!!");
                    return;
                }

                if (password1 == null || password1 == "") {
                    alert("Password 1 Cannot be Empty!!");
                    return;
                }

                if (password2 == null || password2 == "") {
                    alert("Password 2 Cannot be Empty!!");
                    return;
                }

                if (password1 != password2) {
                    alert("Password in both the fields don't match each other!!");
                    return;
                }

//                var timestamp = new Date().valueOf();
//                var token = username + "/" + timestamp;
//
//                alert(token);

                $http({
                    method: 'POST',
                    url: '/resetpasswordfunc',
                    data: {"username" : username, "pwd1": password1, "pwd2": password2}
                }).then(function (response) {
                    if (response.data.status == 100) {
                        alert("Unable to find username");
                    }
                    else if(response.data.status == 404)
                    {
                        alert ("Unable to find username");
                    }
                    else {
                        alert ("Password reset Successful");
                        $window.location.href = '/home';
                    }
                });
            }

        }]);

    </script>


</head>
<body class="reset" ng-app="forisApp" ng-controller="resetCtrl">

<div class="container">
    <h2>Reset Foris Login Password</h2>
    <form name="resetForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="username" class="form-control" id="username" placeholder="User Name" name="username" ng-model="username">
        </div>
        <div class="form-group">
            <label for="pwd">New Password:</label>
            <input type="password" class="form-control" id="pwd1" placeholder="New Password" name="pwd1" ng-model="pwd1">
        </div>
        <div class="form-group">
            <label for="pwd">Re-enter Password:</label>
            <input type="password" class="form-control" id="pwd2" placeholder="Re-enter Password" name="pwd2" ng-model="pwd2">
        </div>
        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <a input type="submit" class="btn btn-primary submit" ng-click="reset()" role="button">Submit</a>
    </form>
</div>

</body>
</html>
